body{
    background-image: url("images/background.png");
    background-repeat: repeat-x;
    background-color: #1F031F;
}

#topImage {
    background-image: url("images/topBanner.png");
    background-repeat: no-repeat;
    width: 900px;
    height: 400px;
}

h1, h2 {
    font-family: 'Vujahday Script', cursive;
}

a {
    text-decoration: none;
}

a:hover {
    color: #8F595E;
}

#cardTitle1 {
    color: #F6F6F6;
    font-family: 'Beau Rivage', cursive;
}

#cardTitle2 {
    color: #000000;
    font-family: 'Beau Rivage', cursive;
}